In [2]:
s="hi there"
for i in s:
    print(i)

h
i

t
h
e
r
e

In [4]:
l= "1,3.2,"a","hi"
for i in l:
    print(l)

[1, 3.2, 'a', 'hi']
[1, 3.2, 'a', 'hi']
[1, 3.2, 'a', 'hi']
[1, 3.2, 'a', 'hi']

In [9]:
l= [1,3.2,"a","hi"]
for i in l:
    print(i)

1
3.2
a
hi

In [14]:
list1= [1,2,3,4,5,6,7,8,9,10]
for num in list1:
    if num % 2==0:
        print(num)

2
4
6
8
10

In [15]:
i=0
while i<5:
    print(i)
    i=i+1

0
1
2
3
4

In [16]:
range(0,5,2)

range(0, 5, 2)

In [19]:
list (range (0,5,2))

[0, 2, 4]

In [20]:
for i in range(5):
    print(i)

0
1
2
3
4

In [23]:
s="Hi there"
for s in range(s):
    print (s)

TypeError: 'str' object cannot be interpreted as an integer

In [29]:
s="hi there"
i=0
for i in (range(s)):
    print(i)

TypeError: 'str' object cannot be interpreted as an integer

In [30]:
l=[1,'hi',2,7]
i=0
while i< len(l):
    print(l[i])
    i=i+1

1
hi
2
7

In [32]:
l=[1,'hi',2,7]
for i in range(len(l)):
    print(l[i])

1
hi
2
7

In [34]:
l=[1,'hi',2,7]
for i in l:
    print(i)

1
hi
2
7